@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #153E90;
    border-bottom: 115px white;
}

.estrelas_cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.titulo_cabecalho{
    color: white;
    padding-right: 1400px;
    font-family: Jomhuria;
    font-size: 100px;
    letter-spacing: 3px;
}

.logo_cbf{
    display: flex;
}

main{
    display: flex;
    flex-direction: row;
    background-color: #F9FD50;
}

.titulo_conteudo{
    color: #1A5D1A;
    font-family: Jomhuria;
    font-size: 90px;
    padding-left: 89px;
    letter-spacing: 2px;
}

.subtitulo_botao{
    color: #153E90;
    font-family: Inter;
    font-size: 24px;
    text-decoration: underline;
    padding-left: 89px;
}

.paragrafos{
    color: #0C359E;
    font-family: Inter;
    font-size: 18px;
    padding-left: 89px;
}

img{
    margin: 1.5%;
}



.fotos{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
}

.fotos_maiores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 551px;
    height: 346px;

}

.fotos_menores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 438px;
    height: 346px;
}

footer{
    background-color: #0C359E ;
}

